
.JDialog_OpacityLayer
{
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#000000; 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; 
    *filter:alpha(opacity=25);
    _filter:alpha(opacity=25);
    _filter:alpha(opacity=25)/9;
    opacity: 0.25; 
    position:absolute;
    z-index:9999;
}

.JDialog_MainLayer
{
    position:absolute; 
    margin-left:300px; 
    margin-top:300px; 
    width:404px; 
    height:184px;
    top:0px;
    left:0px;
    z-index:9999;
}

.JDialog_MainLayer_Shadow
{
    width:400px; 
    height:180px; 
    background-color:#3f3f3f; 
    position:absolute; 
    margin-top:4px; 
    margin-left:4px;
    z-index:9999;
}

.JDialog_MainLayer_Main
{
    width:400px; 
    height:180px; 
    background-color:White; 
    position:absolute;
    z-index:9999;
}

.JDialog_MainLayer_Main_Top
{
    width:100%; 
    height:25px; 
    text-align:right;
    margin-top:7px; 
    border-bottom-style: dashed; 
    border-bottom-width: 1px; 
    border-bottom-color: #99FFCC;
}

.JDialog_MainLayer_Main_Top div
{
    text-align:left;
    padding-left:20px;
    color:#000;
    float:left;
}

.JDialog_MainLayer_Main_Top a
{
    margin-right:20px; 
    text-decoration:none;
    color:Red;
}

.JDialog_MainLayer_Main_Top a:hover
{
    text-decoration:none;
    color:#62ecfc;
}

.JDialog_MainLayer_Main_Middle
{
    width:100%; 
    height:112px; 
    float:left;
    color:#000000;
}

.JDialog_MainLayer_Main_Middle p
{
    margin:10px 20px 10px 20px;
}

.JDialog_MainLayer_Main_Botton
{
    width:100%; 
    height:33px; 
    float:left; 
    text-align:center;
}

.JDialog_MainLayer_Main_Botton input
{
    background: #486aaa; 
    border: #34538b 1px solid; 
    width: 60px; 
    cursor: pointer; 
    color: #fff; 
    line-height: 23px; 
    height: 24px;
}

.JDialog_MainLayer_Main_Middle_Button
{
    background: #486aaa; 
    border: #34538b 1px solid; 
    width: 60px; 
    cursor: pointer; 
    color: #fff; 
    line-height: 23px; 
    height: 24px;
}

.JDialog_MainLayer_Iframe 
{
    display:none;
    _display:block;
    position:absolute;
    top:0;
    left:0px;
    z-index:-1;
    filter:mask();	
    width:408px; 
    height:188px;
}